img {
	margin: 0;
	padding: 0;
	border: 0;
}

a.no-border {
	border: 0 !important;
}

.justify {
	text-align: justify;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.m-0 {
	margin: 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mr-0 {
	margin-right: 0 !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.nostart {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pre-line {
	white-space: pre-line;
}

.index_preview img {
	max-width: 960px;
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	line-height: 0;
}

.clear {
	display: inline-block;
}

.form-control {
	display: inline-block;
}


/*a{outline:none;}*/

a:hover {
	text-decoration: none !important;
}

.fl_left {
	float: left;
}

.fl_right {
	float: right;
}

select.input-sm {
	height: auto;
	line-height: normal;
}

.empl_science_portfolio_module_wrp .adopt_area_scrollable {
	margin-bottom: 2em;
}
.empl_science_portfolio_module_wrp .adopt_area_scrollable form {
	margin-bottom: 0;
}

.empl_science_portfolio_module_wrp #save_result img {
	height: 34px;
}

.empl_science_portfolio_module_wrp #save_result h3 {
	margin: 0;
}

@media screen and (max-width: 1180px) {
	.adopt_area_scrollable {
		overflow-y: auto;
	}
	.adopt_area_scrollable table {
		table-layout: auto !important;
	}
}


/* ----------------------------------------------Generalise-------------------------------------*/

.no-data-found {
	margin: 30px 0;
	text-align: center;
}

.no-data-found::before {
	content: '';
	display: block;
	width: 100%;
	height: 270px;
	margin: 0 0 20px;
	background-image: url('/files/upload/images/no-data.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}

.user_session {
	padding: 10px 13px;
	/*margin-top:10px;*/
	width: 190px;
	float: right;
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	height: 125px;
}

.table-condensed tr,
.table-condensed tr td,
.table-condensed thead,
.table-condensed tfoot {
	border: 0;
}

table tr:hover,
.teacherstufftable tr:hover {
	background: #f5f5dc !important;
}

.cke_dialog_contents tr,
.cke_dialog_contents tr:hover {
	background: #fff !important;
}

.cke_widget_wrapper img {
	width: 100% !important;
	height: auto !important;
}

.user_session_none {
	width: 190px;
	float: right;
}

#header .user_session .logout_p {
	margin-top: 10px;
}

.uname {
	color: black;
	font-size: 14px;
	padding-top: 5px;
	min-height: 45px;
}

.btn-primary,
.btn-primary:hover,
.btn-success,
.btn-success:hover,
.btn-danger,
.btn-danger:hover,
.btn-warning,
.btn-warning:hover {
	color: #fff !important;
}

.btn-default,
.btn-default:hover {
	color: #333 !important;
}

.pbuttons,
.logout {
	/*
	background: #3498db;
	background-color: #337ab7;
	background-image: -webkit-linear-gradient(top, #337ab7, #2980b9);
	background-image: -moz-linear-gradient(top, #337ab7, #2980b9);
	background-image: -ms-linear-gradient(top, #337ab7, #2980b9);
	background-image: -o-linear-gradient(top, #337ab7, #2980b9);
	background-image: linear-gradient(to bottom, #337ab7, #2980b9);
	*/
	display: inline-block;
	background-color: #337ab7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial;
	color: #ffffff !important;
	font-size: 14px;
	padding: 5px 15px;
	text-decoration: none !important;
	clear: both;
	border: 1px solid #2e6da4;
}

.pbuttons:hover,
.logout:hover {
	/*
	background: #2980b9;
	background-image: -webkit-linear-gradient(top, #2980b9, #337ab7);
	background-image: -moz-linear-gradient(top, #2980b9, #337ab7);
	background-image: -ms-linear-gradient(top, #2980b9, #337ab7);
	background-image: -o-linear-gradient(top, #2980b9, #337ab7);
	background-image: linear-gradient(to bottom, #2980b9, #337ab7);
	*/
	background-color: #286090;
	border-color: #204d74;
	text-decoration: none;
	color: #ffffff !important;
}

.pagination a {
	color: #fff !important;
	background-color: #337ab7;
	border-color: #2e6da4;
	display: inline-block;
	padding: 6px 12px;
	margin: 0.2em;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.pagination b {
	padding: 10px;
	margin-bottom: 0.2em;
}

.pagination a:hover {
	background-color: #286090 !important;
	border-color: #204d74;
	color: #FFF !important;
	text-decoration: none;
}

.unread_msgs_link {
	background: url('/files/upload/pages/image/mail.png') no-repeat top left #FFF !important;
	font-size: 14px;
	padding: 12px 0 10px 46px;
	margin-top: -10px;
	color: black !important;
	float: left;
}

.msg_count_area {
	float: left;
	padding-top: 3px;
	min-height: 22px;
	margin-left: 5px;
}

#user_notifier {
	position: fixed;
	left: 1em;
	bottom: 0;
	width: auto;
	max-width: 23em;
	z-index: 999;
	line-height: 1em;
	max-height: calc(100vh + 100px);
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
	margin: 0 0 -100px 0;
	padding-top: 100px;
}

@media screen and (max-width: 600px) {
	#user_notifier {
		max-width: calc(100% - 2em);
	}
}

.user_notify_item {
	background: #FFF;
	padding: 10px;
	margin: 0 8px 6px 8px;
	border: 1px solid #DDD;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.175);
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.175);
	position: relative;
	border-radius: 4px;
	-webkit-animation: notify-slide-in-bottom 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: notify-slide-in-bottom 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes notify-slide-in-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
}

@keyframes notify-slide-in-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
}

.user_notify_item_close {
	display: inline-flex;
	align-items: center;
	color: #929292;
	cursor: pointer;
	margin-right: 0;
	padding: 5px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 15px;
}

.user_notify_item_close span {
	color: #929292;
	cursor: pointer;
	margin: 0;
	top: 0;
}

.notify_content {
	color: black;
	/*padding: 10px 0 5px 0;*/
	/*border-top: 1px solid #DDD;*/
	display: flex;
	align-items: center;
	/*flex-wrap: wrap;*/
}

.notify_content .notify-icon {
	font-size: 22px;
	padding: 0 4px 0 0;
	color: grey;
}

.notify_content .notify-icon.icon-heart {
	color: red;
}

.notif_sender_avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	width: 50px;
	height: 50px;
	text-align: center;
	float: left;
	background-size: cover;
	background-position: top left;
}

.notif_info {
	padding: 10px 10px 10px 0;
	margin-left: 10px;
	width: calc(100% - 60px);
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.4;
}

.notify_content:first-child {
	border-top: none;
}

.notify_content .notify_group_name {
	color: #C8A049;
}

.app_privacy_policy_container {
	height: 55px;
	width: 100%;
	line-height: 1.2;
	background: rgb(0, 0, 0, 0.6);
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 991;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	backdrop-filter: blur(10px);
}

.app_privacy_policy_container a {
	border-bottom: 1px dashed #fff;
}

.app_privacy_policy_container a:hover {
	border-bottom: 0;
	color: #fff !important;
}

.app_privacy_policy_close {
	padding: 5px 0 0 10px;
}

.app_privacy_policy_close span {
	position: static !important;
	cursor: pointer;
	margin: 0;
	color: #fff !important;
}

@media screen and (max-width: 622px) {
	
	.app_privacy_policy_container {
		height: auto;
		padding: 5px 10px 10px 10px;
	}
	
	.app_privacy_policy_close {
		padding: 8px 0 0 10px;
	}
	
}

.auth_error_wraper {
	position: relative;
}

.auth_error {
	position: absolute;
	top: 37px;
	left: 0;
	padding: 2px 9px 3px 10px;
	background: none repeat scroll 0% 0% #FFF;
	width: 190px;
	color: #F00;
}

.sbs_posts_count {
	background: #337ab7;
	color: #FFF !important;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	/*padding:0.1em 0.5em;*/
	padding: 2px 7px;
	margin-left: 10px;
	text-align: center;
	font-family: 'Ledger', serif;
	font-size: 0.8em;
}

.msg_unread_count {
	background: #337ab7;
	color: #FFF !important;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	/*padding: 0.3em 0.3em 0.3em 0.5em;*/
	padding: 4px 7px;
	/* margin-left: 10px; */
	text-align: center;
	position: absolute;
	bottom: 0.3em;
	right: 1em;
	font-weight: 400;
	line-height: 1em;
	font-size: 13px;
	font-family: 'Ledger', serif;
	letter-spacing: 0;
	max-width: 55px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.events_history_counter_class {
	background: #337ab7;
	color: #FFF !important;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	/*padding: 0.2em 0.3em 0.2em 0.5em;*/
	padding: 4px 7px;
	/* margin-left: 10px; */
	text-align: center;
	position: absolute;
	bottom: 0.3em;
	right: 0;
	font-weight: 400;
	line-height: 1em;
	font-size: 13px;
	letter-spacing: 0.15em;
	font-family: 'Ledger', serif;
	font-style: normal;
	letter-spacing: 0;
	max-width: 55px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.msg_unread_count_menu {
	background: #337ab7;
	color: #FFF !important;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	/*padding: 0.1em 0.4em 0.1em 0.5em;*/
	padding: 4px 7px 4px 1px !important;
	/* margin-left: 10px; */
	margin-top: 3px !important;
	text-align: center;
	font-weight: 400;
	line-height: 1em;
	font-size: 13px;
	/*float: none !important;*/
	font-family: 'Ledger', serif;
	letter-spacing: 0;
	max-width: 55px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#science_portfolio_progressbar, #gia_progressbar {
	display: inline;
	margin-left: 10px;
}

@media screen and (max-width:980px) {
	/*.events_history_counter_class, .msg_unread_count{
		padding: 0.3em 0.4em 0.3em 0.5em;
	}*/
	.msg_unread_count_menu {
		padding-left: 0.55em;
	}
}


/* ----------------------------------------------Content-------------------------------------*/

.tooltip {
	margin: 0 !important;
}

#loginForm .tooltip>.tooltip-inner,
.tooltip>.tooltip-inner {
	font-size: 14px !important;
	min-width: 180px;
	padding: 7px;
	word-wrap: break-word;
	text-transform: initial;
}

#loginForm .tooltip>.tooltip-inner {
	white-space: normal;
	letter-spacing: 0;
}

#container {
	padding: 30px 0;
}

.studform {
	font-size: 17px;
}

.studform .input-sm {
	font-size: 15px;
}

.panel-heading h3 {
	font-size: 21px;
}

.main_img {
	max-width: 960px;
	margin: -30px 0 20px 0;
}

.clearer {
	clear: both;
}

.add_post {
	background: url('/files/upload/pages/image/mail_new.png') no-repeat top left;
	padding: 13px 0 16px 54px;
	font-size: 16px;
	border: 0;
}

.empty_publications {
	margin: 20px;
	padding: 20px;
}

.post_title {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #666666;
	/*
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	*/
	padding-left: 10px;
	background-position: 10px 6px;
	display: block;
	width: 100%;
	margin: 12px 0;
	padding: 8px;
}

.add_post:hover {
	text-decoration: none;
}

.post_wrap {
	margin: 10px 0 0 0;
	padding-bottom: 45px;
}

.post_wrap_single {
	/*padding:15px 25px;
	background:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px solid #DDD;*/
	position: relative;
	word-wrap: break-word;
	padding: 3em;
	background: #ffffff;
	border: solid 1px rgba(160, 160, 160, 0.3);
	position: relative;
	width: 100%;
	overflow: hidden;
}

@media screen and (max-width:980px) {
	.post_wrap_single {
		padding: 1.5em;
	}
}

.post_wrap_single img {
	max-width: 100%;
}

.post_content {
	/*font-size:14px;
	padding:20px;*/
	/*margin-bottom:12px;*/
	/*color:black;
	background:#FFF;
	-webkit-border-radius: 10px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border:2px solid #DDD;
	position:relative;*/
	padding: 25px 0;
	border-bottom: 1px solid #DDD;
	word-wrap: break-word;
}

.total_post_comments {
	background: #337ab7;
	color: #FFF !important;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	/*padding: 0.2em 0.4em;*/
	padding: 4px 7px;
	/* margin-left: 10px; */
	text-align: center;
	position: absolute;
	bottom: -1em;
	left: 0.5em;
	font-weight: 400;
	line-height: 1em;
	font-family: 'Ledger', serif;
	font-size: 0.8em;
	max-width: 55px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.post_actions {
	background: #FFF;
	width: 280px;
	padding: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom: 2px solid #DDD;
	border-left: 2px solid #DDD;
	border-right: 2px solid #DDD;
	position: absolute;
	left: -2px;
	bottom: -42px;
}

.post_type {
	/*position:absolute;
	right:3px;
	bottom:-20px;*/
	margin-top: 15px;
	min-width: 230px;
	font-size: 12px;
	max-width: 520px;
}

.post_type span {
	color: #696969;
}

.post_title {}


/*
.pagination{
	margin:20px;
	}	
*/

#dynamiccalend {
	text-align: center;
}

.calend_wrap_index .calend_inner_index {
	margin: 0 0 15px 0;
}

.calend_wrap_index .index_events_title {
	padding: 0 0 5px 0;
}

.calend_wrap_index table {
	table-layout: fixed;
	background: #fff;
}

.calend_wrap_index table td {
	text-align: center;
}

.calend_wrap table td,
.calend_wrap_index table td {
	border: 1px solid #CCC;
}

.calend_nav {
	margin: 5px 0 20px 0;
	clear: both;
}

.calend_nav .fl_left,
.calend_nav .fl_right {
	width: auto !important;
	clear: none !important;
}

.calend_work_day {
	/*color:#0955A1;*/
	color: #337ab7;
}

.calend_week_end {
	color: red !important;
}

.calend_curr_pos {
	background: #e1e6f2;
	/* 
	 e1e6f2
	 background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	  background-image: -o-linear-gradient(top, #3498db, #2980b9);
	  background-image: linear-gradient(to bottom, #3498db, #2980b9);
	  -webkit-border-radius: 5;
	  -moz-border-radius: 5;
	  border-radius: 5px;
	  font-family: Arial;
	  color: #ffffff !important;
	  font-size: 14px;
	  padding: 3px;*/
}

overcalitm_wraper {
	max-height: 12em;
	overflow: hidden;
}

.overcalitm {
	max-height: 10em;
	word-wrap: break-word;
	overflow-y: auto;
}

.index_data_for_current_position {
	background: #DDD;
}

.calend_wrap_index .calend_curr_pos,
.calend_wrap .calend_curr_pos {
	text-decoration: none !important;
}

.calend_curr_month_index a {
	border: 0;
}

.calend_curr_month {
	margin-left: 33%;
}

.arch_link_wrap {
	margin: 17px;
	float: right;
}

.calend_spacer {
	margin-bottom: 50px;
}

.arch_link {
	background: url(/files/upload/pages/image/package_wordprocessing_3280.png) no-repeat top left;
	padding: 16px 0 16px 53px;
	color: #0955A1;
	text-decoration: underline;
	font-size: 16px;
}

.calend_sub_hrefs {
	/*color:#0955A1;*/
	color: #337ab7;
	text-decoration: underline;
	border: 0;
}

.calend_day_header {
	/*width:auto;*/
	margin: 0px;
}

.calend_day_header td {
	border: 1px solid #ccc;
	width: 2em;
}

.calend_day_header .event_add {
	width: 8em !important;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-top: none;
	border-left: none;
}

.calend_event_add_wrap {
	position: relative;
}

.calend_event_add {
	position: absolute;
	top: 7px;
	left: -6px;
	background: #fff;
	border: 2px solid #CCC;
	padding: 15px;
	min-width: 24.5em;
	z-index: 99;
}

.calend_event_time {
	color: black;
	padding: 3px 0 0 3px;
}

.calend_event_type {
	margin: 15px 0 15px 0;
	width: 100% !important;
}

.calend_event_type select {
	width: 290px;
}

.calend_day_header td div {
	/*width:58px;*/
}

.calend_event_block_wrap {
	height: auto;
	min-height: 50px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	/*margin-right:5px;*/
}

.calend_event_block {
	height: 100%;
	min-height: 50px;
	/*border-left:1px solid #DDD;*/
}

.empty_calend_events {
	text-align: center;
	margin: 30px 0 30px 0 !important;
}

.dynamic_calend_events {
	background: #fff;
	padding: 0.5em;
	margin: 0 0 10px 0;
	border: 1px solid rgb(160, 160, 160, 0.3);
	/* border-radius: 1em; */
	/*box-shadow: 0 0 10px -0.5px rgb(0,0,0,.1);*/
}

.dynamic_calend_events:last-child {
	margin: 0 0 1px 0;
}

.dynamic_calend_events a {
	color: #337ab7;
}

.event_user_info {
	width: 8em;
	min-height: 50px;
	/*border-right: 1px solid #CCCCCC;*/
}

.event_creator {
	padding: 4px 0 0 4px;
}

.event_edit_wrap {
	position: relative;
}

.event_edit_button {
	position: absolute;
	bottom: 0px;
	right: -8px;
}

.event_edit_area_wrap {
	position: absolute;
	bottom: -185px;
	width: 245px;
	right: -1px;
	background: #FFF;
	padding: 4px;
	border: 2px solid #CCC;
	z-index: 9999;
}


/*-------users list-----*/

.user_cards_wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.user_card {
	margin: 0 0.8em 1em 0.8em;
	width: 8em;
	height: 12em;
	background: #FFF;
	/*padding: 0.5em;*/
}

@media screen and (width:1366px) {
	.user_card {
		margin: 0 0.5em 1em 0.5em;
	}
}

@media screen and (max-width:320px) {
	.user_card {
		margin: 0 0.5em 1em 0.5em;
		width: 7em;
	}
}

.user_type_info_wrap {
	position: relative;
}

.users_avatar_wrap {
	height: 8em;
	width: 8em;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	vertical-align: middle;
}

.users_list_avatar {
	background-size: cover !important;
	cursor: pointer;
	margin-bottom: 5px;
}

.users_total .form-control {
	font-size: 14px;
	margin-top: 10px;
}

.users_total span {
	font-size: 24px; 
	line-height: 1em;
}

@media screen and (max-width:320px) {
	.users_avatar_wrap {
		width: 7em;
		height: 7em;
	}
}

.users_avatar_wrap img {
	width: 130px;
	margin: auto 0;
}

.user_type_info_ico {
	position: absolute;
	top: 0;
	right: -12px;
	font-size: 2em;
	color: #337ab7;
}

.user_type_info_txt {
	background: #FFF;
	position: absolute;
	padding: 6px;
	top: 42px;
	right: 2px;
}


/*	
.user_type_info_txt{
	display:block;
	height:60px;
	width:200px;
	}*/

.user_card p {
	margin: 2px 0 0 5px;
}

.users_q {
	/*width:450px;
	float:left;*/
}


/*-------profile--------*/

.profile_actions {
	margin: 0 0 1em 0;
}

@media screen and (max-width:980px) {
	.profile_actions {
		padding: 0 1.5em;
		white-space: nowrap;
		overflow-y: hidden;
		overflow-x: auto;
		height: 58px;
	}
	.profile_actions_flow {
		position: relative;
		margin-left: -1.5em;
		margin-right: -1.5em;
		height: 41px;
		overflow: hidden;
		margin-bottom: 0.57em;
	}
	.profile_actions_flow::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 1.5em;
		height: 41px;
		background: rgb(255, 255, 255);
		background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0) 100%);
	}
	.profile_actions_flow::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 1.5em;
		height: 41px;
		background: rgb(255, 255, 255);
		background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0) 100%);
	}
	.dark-mode .profile_actions_flow::before {
		background: rgb(39, 39, 39);
		background: linear-gradient(90deg, rgba(39, 39, 39, 1) 0%, rgba(39, 39, 39, 0.9) 60%, rgba(39, 39, 39, 0.7) 75%, rgba(39, 39, 39, 0) 100%);
	}
	.dark-mode .profile_actions_flow::after {
		background: rgb(39, 39, 39);
		background: linear-gradient(270deg, rgba(39, 39, 39, 1) 0%, rgba(39, 39, 39, 0.9) 60%, rgba(39, 39, 39, 0.7) 75%, rgba(39, 39, 39, 0) 100%);
	}
}

.profile_actions a {
	text-decoration: none;
	color: #FFF;
	margin: 0 0.5em 0.5em 0;
	padding: 0.5em;
	border: 0;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile_actions .profile_actions_item_selected {
	font-size: 14px !important;
	font-weight: bold !important;
	text-decoration: none !important;
	color: black !important;
	white-space: nowrap;
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

@media screen and (max-width:345px) {
	.profile_actions a {
		margin: 0 0.15em 0.5em 0;
		padding: 0.5em 0.35em;
		border: 0;
	}
}

.profile_actions a:last-child,
.profile_actions a:not(.btn):not(.profile_actions_item_selected)  {
	margin-right: 0;
}

.profile_options {
	width: 23%;
}

.profile_data {
	width: calc(77% - 2em);
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.profile_data .empl_science_portfolio_module_wrp {
	min-height: 55vh;
}

.profile_data .pagination {
	margin-bottom: 0;
}

.userpage_block_wrap {
	border: 1px solid #e7e7e7;
	margin-bottom: 20px;
	border-radius: 4px;
}

.userpage_block_wrap:last-child {
	margin-bottom: 0;
}

.userpage_block_wrap p {
	padding: 0 15px;
}

.userpage_block_title {
	padding: 9px 15px;
	margin-bottom: 12px;
	background: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
	font-weight: bold;
	text-align: center;
	border-radius: 4px 4px 0 0;
}

.userpage_block_title a {
	border: 0 !important;
}

#neighbors {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 0.5em;
}

.neighbors_card {
	margin: 0 0.5em 0.5em 0.5em;
	width: 5em;
	height: 9.5em;
	float: left;
	text-align: center;
	position: relative;
	font-size: 1em;
	/*display: inline-table;*/
}

.user_card_wrap_name {
	word-wrap: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.neighbors_card img {
	width: 128px;
}

.neighbors_wrap_close {
	max-height: 9em;
	overflow: hidden;
}

.neighbors_wrap_open {
	height: auto;
}

.actions {
	margin-top: 1em;
}

.write_message {
	cursor: pointer;
	/*background:#3498db;*/
	background-color: #337ab7;
	background-image: -webkit-linear-gradient(top, #337ab7, #2980b9);
	background-image: -moz-linear-gradient(top, #337ab7, #2980b9);
	background-image: -ms-linear-gradient(top, #337ab7, #2980b9);
	background-image: -o-linear-gradient(top, #337ab7, #2980b9);
	background-image: linear-gradient(to bottom, #337ab7, #2980b9);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff !important;
	font-size: 14px;
	padding: 10px 5px 10px 10px;
	text-decoration: none;
}

.msg_box_wrap {
	height: 100%;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 50px 2%;
}

.msg_box a {
	border-bottom: 0;
}

.msg_box #msgs_sending_wait{
	float: right;
	width: auto !important;
	height: 34px;
}

.msg_box #mes_val,
.msg_box_profile_none #mes_val {
	background: #fff;
}

.msg_box_close {
	position: absolute;
	top: -40px;
	right: 0;
}

.msg_box {
	width: 30em;
	max-width: 100%;
	position: relative;
	z-index: 9999;
	background: #f5f6fA;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	border: 3px solid #03274B;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(66, 66, 66, 0.82);
	-moz-box-shadow: 0px 0px 24px 0px rgba(66, 66, 66, 0.82);
	box-shadow: 0px 0px 24px 0px rgba(66, 66, 66, 0.82);
}

.msg_box_profile_none {
	/*position:fixed;
	top:200px;
	left:400px;
	z-index:9999;*/
	min-width: 520px;
	position: relative;
	background: #f5f6fA;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	border: 3px solid #03274B;
	/*-webkit-box-shadow: 0px 0px 24px 0px rgba(66, 66, 66, 0.82);
	-moz-box-shadow:    0px 0px 24px 0px rgba(66, 66, 66, 0.82);
	box-shadow:         0px 0px 24px 0px rgba(66, 66, 66, 0.82);*/
}

.msg_nav {
	height: auto;
	background: #FFF;
}

.unblock_user {
	background: #5dd934;
	background-image: -webkit-linear-gradient(top, #5dd934, #2dc444);
	background-image: -moz-linear-gradient(top, #5dd934, #2dc444);
	background-image: -ms-linear-gradient(top, #5dd934, #2dc444);
	background-image: -o-linear-gradient(top, #5dd934, #2dc444);
	background-image: linear-gradient(to bottom, #5dd934, #2dc444);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #fff !important;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.block_user {
	background: #cc3d3d;
	background-image: -webkit-linear-gradient(top, #cc3d3d, #e02424);
	background-image: -moz-linear-gradient(top, #cc3d3d, #e02424);
	background-image: -ms-linear-gradient(top, #cc3d3d, #e02424);
	background-image: -o-linear-gradient(top, #cc3d3d, #e02424);
	background-image: linear-gradient(to bottom, #cc3d3d, #e02424);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #fff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.unblock_user:hover,
.block_user:hover {
	color: #fff !important;
	text-decoration: none;
}

.user_activity_wrap {
	position: relative;
}

.user_activity {
	position: absolute;
	bottom: 0.5em;
	right: 0em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	border: 2px solid #fff;
}

.user_card .user_activity {
	bottom: 0.72em;
	right: 0.72em;
	width: 1.2em;
	height: 1.2em;
}

.neighbors_card .user_activity {
	bottom: 0.2em;
	right: 0.2em;
}

.sbs_item_wrp .user_activity {
	bottom: 0.6em;
	left: 60px;
}

.online {
	background: #12bc00;
}

.offline {
	background: #e3a521;
}

/*---------------profile menu--------------------*/

.profile_options .profile_options_inner {
	position: relative;
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}

.profile_options .profile_options_sticky.is-affixed .profile_options_inner {
	padding-bottom: 20px;
}

.profile_options .navbar {
	margin-bottom: 20px;
	/*fix sticky right border over the flow problem on big screen*/
	margin-right: 1px;
	float: none;
}

@media screen and (min-width: 981px) {
	.profile_options .navbar:last-of-type {
		margin-bottom: 0;
	}
}

.profile_options .navbar-collapse {
	padding: 0;
}

.profile_options .nav li a span {
	font-size: 16px;
}

.profile_options .nav li a span.sbs_posts_count {
	font-size: 12px;
}

.profile_options .nav,
.profile_options .nav > li {
	width: 100% !important;
}

.profile_options .nav > li {
	border-bottom: 1px solid #DDD;
	padding: 0;
}

.profile_options .nav > li:last-child {
	border-bottom: 0;
}

.profile_options .nav > li > a {
	position: relative;
	padding: 15px 10px;
	border-bottom: none;
}

.profile_options .nav > li > a .sbs_posts_count {
	position: absolute;
	z-index: 1;
	top: 14px;
	right: 8px;
	margin: 0;
	padding: 5px 8px;
	line-height: 1;
	border-radius: 4px;
	max-width: 55px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile_options .navbar .navbar-collapse .glyphicon {
	margin-right: 0;
}

.profile_menu_collapseble {
	display: none;
}

.profile_menu_collapseble_text {
	display: none;
}

.main_content .navbar-collapse.collapse {
	display: block;
}

@media screen and (max-width: 980px) {
	.profile_options .navbar {
		margin-right: 0;
	}
	.navbar-nav {
		margin: 0;
		width: 100%;
	}
	.profile_options .navbar:nth-child(2) {
		margin-bottom: 20px;
	}
	.profile_menu_collapseble {
		display: block;
		cursor: pointer;
		position: absolute;
		right: -2.88em;
		top: 1em;
	}
	.profile_menu_collapseble_text {
		display: block;
		margin: 0.5em 0 0 0;
		width: 100%;
		text-align: center;
	}
	.main_content .navbar-collapse.collapse{
		display: none;
	}
}

@media screen and (max-width: 1120px) and (min-width: 980px) {
	.navbar .navbar-collapse .glyphicon {
		display: none;
	}
}

@media screen and (width: 320px) {
	.navbar-collapse .navbar-collapse .glyphicon {
		display: none;
	}
}

@media screen and (width: 768px) {
	.navbar-collapse.collapse {
		display: none;
		visibility: hidden;
	}
}

.pagination {
	display: block;
	width: 100%;
	text-align: center;
	clear: both;
}

.profile_data p,
.profile_data .info {
	/*font-size: 16px;*/
	font-weight: 300;
	line-height: 1.5em;
	margin-bottom: 12px;
}

.profile_data #user_right_info_and_actions_wrap:not(:has(.user_actions_btn)) p {
	margin-bottom: 0;
}

.profile_data #snres > p {
	line-height: 1.8em;
	padding: 0 0 10px 0;
	margin: 0 0 8px 0;
	border-bottom: 1px dashed grey;
}

.profile_data #snres > p:last-child {
	border-bottom: 0;
	padding: 0;
	margin: 0;
}

.profile_data .info {
	padding: 0 1em;
}

.profile_data p {
	padding: 0;
}

.avatart-not-curr-wrap,
.user-avatar-wrap {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
}

.avatart-not-curr-wrap {
	margin: 0 auto;
}

.user-avatar-wrap {
	float: right;
}

.user-avatar-wrap {
	margin: 0 15px 10px 0;
}

.user-avatar-wrap,
.user-avatar {
	width: 130px;
}

.avatart-not-curr-wrap,
.avatart-not-curr {
	width: 250px;
}

.user_top_publications {
	border-bottom: 1px solid #DDD;
	padding: 15px 0;
	word-wrap: break-word;
}

.user_top_publications:first-child {
	padding-top: 5px;
}

.user_top_publications:last-child {
	border: none;
	/*padding-bottom:0;*/
}

.user_top_publications.not-shown {
	background: #f8f8ff;
}

#img_modal {
	position: fixed;
	z-index: 9999;
	padding: 10vh 0 !important;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden !important;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.85) !important;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#img_modal img {
	margin: 0 !important;
	display: block;
	height: 70%;
	max-width: none !important;
	border-radius: 10px;
	position: absolute;
	cursor: grab;
}

#img_modal-control-wrp {
	position: fixed;
	top: auto;
	bottom: 10vh;
}

#img_modal-control-wrp .glyphicon {
	margin: 0 5px;
	color: #fff;
	font-size: 22px;
	background: rgba(0, 0, 0, 0.6);
	padding: 10px;
	border-radius: 10px;
	border: 2px solid rgba(170, 170, 170, 0.3);
	z-index: 99999;
	cursor: pointer;
}

#img_modal-control-wrp .rotate-left {
	transform: rotateY(180deg);
}


/*end profile*/

.is-sticky {
	position: fixed;
	top: 60px;
	height: 15px;
	padding: 17px 0 0 0;
	width: 951px;
	border: 2px solid #DDD;
	border-top: none;
	margin-top: 0;
	padding-right: 5px;
	z-index: 9999;
}

.is-sticky-leftside {
	position: fixed;
	top: 5.4em;
	width: 26.7em;
}

.is-absolute-leftside,
.is-absolute-rightside-ui {
	position: absolute;
	bottom: 0;
}

.is-absolute-rightside-ui {
	width: 13.35em;
}

.is-sticky-rightside {
	position: fixed;
	top: 4em;
	margin-top: 20px;
	width: 27.45em;
}

.is-sticky-rightside-ui {
	position: fixed;
	top: 4em;
	width: 13.35em;
}

.is-sticky-rightside-bottom {
	position: absolute;
	width: 450px;
	max-height: 500px;
	overflow: hidden;
}

@media screen and (max-width: 1180px) {
	.is-sticky,
	.is-sticky-leftside,
	.is-absolute-leftside {
		position: static;
		width: 100%;
	}
}

@media screen and (max-width: 980px) {
	.is-sticky-rightside,
	.is-sticky-rightside-bottom,
	.is-sticky-rightside-ui,
	.is-absolute-rightside-ui {
		position: static;
	}
	.is-sticky-rightside,
	.is-sticky-rightside-bottom {
		width: 100%;
	}
	.is-sticky-rightside,
	.is-sticky-rightside-ui {
		margin: 0;
	}
}

.msg_type_nav {
	margin-bottom: 25px;
}

.msg_links {
	font-size: 16px;
	text-decoration: underline;
	color: #2980B9;
	margin-right: 27px;
	cursor: pointer;
}

.msg_inbox,
.msg_outbox,
.msg_inbox_new {
	padding: 16px 0 16px 57px;
}

.msg_inbox {
	background: url('/files/upload/pages/image/inbox.png') no-repeat top left;
}

.msg_outbox {
	background: url('/files/upload/pages/image/outbox.png') no-repeat top left;
}

.msg_inbox_new {
	background: url('/files/upload/pages/image/gnome_mail_unread.png') no-repeat top left;
}

.msg_link_active {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.msg_action_btns {
	margin-bottom: 5px;
}

.single_msg_wrap {
	background: #FFF;
	padding: 10px;
	position: relative;
	margin-top: 15px;
}

.msg_info {
	padding: 3px;
}

.msg_body {
	padding: 10px 3px 7px 3px;
	color: black;
}


/*-------------profile data edit-----------*/

.profile_section {
	background: #FFF;
	padding: 0;
	margin-bottom: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.profile_section p {
	font-size: 16px;
	color: black;
	margin-top: 3px;
}

.profile_section .post_title {
	width: 250px;
}


/*стили для скролла*/

.baron__clipper {
	position: relative;
	overflow: hidden;
}

.baron__scroller {
	overflow-y: scroll;
	-ms-overflow-style: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	/*hide scrollbar for firefox before js initializing*/
	scrollbar-width: none;

	-webkit-overflow-scrolling: touch;
	/* remove line to customize scrollbar in iOs */
}

/*
hide scrollbar for firefox before js initializing
@-moz-document url-prefix() {
	.baron__scroller {
		width: calc(100% + 17px);
	}
}
*/

.baron__scroller::-webkit-scrollbar {
	width: 0;
}

.baron__track {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.baron__free {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.baron__bar {
	position: absolute;
	right: 0;
	z-index: 1;
	width: 10px;
	background: #ddd;
}

.baron__control {
	display: none;
}

.baron._macosx .baron__track {
	opacity: 0;
	position: absolute;
	z-index: 998;
	top: 2px;
	bottom: 2px;
	right: 2px;
	width: 0;
}

.baron._macosx._scrollbar .baron__track {
	opacity: 1;
}

.baron._macosx .baron__bar {
	position: absolute;
	z-index: 1;
	width: 6px;
	border-radius: 3px;
	background: #ddd;
	opacity: 0;
	transition: .1s opacity .4s linear;
	pointer-events: auto;
}

.links .baron._macosx .baron__bar,
.user_events_notificaton_history_content .baron._macosx .baron__bar,
.overcalitm_wraper.baron._macosx .baron__bar  {
	opacity: .7;
}

@media screen and (max-width:980px) {
	.links .baron._macosx .baron__bar {
		opacity: 0;
	}
}

.baron__bar._dragging {
	/*opacity: 1;*/
}

.baron._macosx .baron__bar:hover,
.baron._scrolling .baron__bar {
	transition-duration: 0s;
	transition-delay: 0s;
	opacity: .5;
}


/*student_plan data*/

.student_plan_table {
	table-layout: auto !important;
}

.student_plan_table td {
	padding: 10px;
}

div.stars {
	display: flex !important;
}

div.stars,
.stars_td {
	width: 250px;
}

div.stars form {
	margin: 0;
}

input.star {
	display: none !important;
}

label.star {
	float: right !important;
	padding: 10px !important;
	color: #908f8f !important;
	transition: all .2s;
	position: inherit !important;
	font-size: 1em !important;
}

input.star+label:before {
	height: 30px !important;
	width: 30px !important;
	line-height: 27px !important;
}

input.star:checked+label:before {
	background: none !important;
	border-color: inherit !important;
}

input.star:checked~label.star:before {
	content: '\f005' !important;
	color: #FD4 !important;
	border-color: inherit !important;
	background: none !important;
}

input.star-5:checked~label.star:before {
	/*color: #FE7 !important;*/
	color: #FD4 !important;
	text-shadow: 0 0 20px rgb(149, 41, 82, .5) !important;
	position: inherit !important;
}

input.star-1:checked~label.star:before {
	color: #F62 !important;
}

label.star:hover {
	transform: rotate(-15deg) scale(1.3);
}

label.star:before {
	content: '\f006' !important;
	font-family: FontAwesome;
	position: inherit !important;
}

/*video hosting module styles*/

.uvh-file-upload-form-collapser-wrp {
	height: 1px;
	margin: 31px 0 21px;
	border-bottom: 1px solid #ddd;
	position: relative;
}

.uvh-file-upload-form-collapser-btn {
	width: 200px;
	position: absolute;
	left: calc(50% - 100px);
	top: calc(50% - 16px);
	padding: 5px 15px;
	border: 1px solid #ddd;
	border-radius: 15px;
	background: #fff;
	color: #337ab7;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}

#uvh-file-upload-form,
.uvh-file-upload-file {
	display: flex;
	align-items: center;
}

#uvh-file-upload-form {
	width: 100%;
	margin: 0 0 -15px 0;
	padding: 15px;
	justify-content: space-between;
}

.uvh-file-upload-file,
.uvh-file-upload-file-name {
	width: 75%;
}

.uvh-file-upload-file-name {
	padding-left: 15px;
	color: grey;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.uvh-file-upload-file-input {
	position: relative;
	overflow: hidden;
	width: 150px;
}

.uvh-file-upload-file-input input[type=file] {
	position: absolute;
	top: -40px;
	right: 0;
	min-width: 100%;
	min-height: calc(100% + 40px);
	/*font-size: 100px;*/
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#uvh-file-upload-result-wrp {
	display: none;
}

#uvh-file-upload-result-wrp .alert {
	margin-bottom: 15px;
	width: 100%;
}

#uvh-file-upload-result-wrp .alert:last-child {
	margin-bottom: 0;
}

.uvh-file-upload-progress-wrp {
	height: 30px;
	margin: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.uvh-file-upload-progress-title {
	position: absolute;
	left: 10px;
	width: calc(100% - 110px);
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: lightsteelblue;
}

#uvh-file-upload-progress-bar {
	height: inherit;
	border: 1px solid #ddd;
	width: calc(100% - 3em);
}

#uvh-file-upload-progress-bar>div {
	height: 100%;
	width: 0;
	background: #337ab7;
}

.uvh-file-progress-processed {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.uvh-file-progress-processed img {
	width: 34px;
	margin-right: 15px;
}

.uvh-file-progress-processed-txt {
	max-width: calc(100% - 49px);
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.uvh-video-controls {
	display: flex;
	align-items: center;
	padding: 15px 0 10px 0;
}

.uvh-video-controls > div:nth-child(2) {
	padding-left: 0;
}

.uvh-video-tabs {
	list-style: none;
	padding: 0;
}

.uvh-video-tabs li {
	padding: 0 25px 5px 25px;
	float: left;
	margin: 0 15px 0 0;
	cursor: pointer;
}

.uvh-video-tabs .uvh-video-tab-current {
	border-bottom: 3px solid #ddd;
}

#uvh-video-list {
	max-height: calc(100vh - 125px);
}

/*cause content wrapper for firefox have hidden right scrollbar*/
@-moz-document url-prefix() {
	#uvh-video-list {
		padding-right: 17px;
	}
}

#uvh-video-list-empty h3 {
	text-align: center;
	margin: 25px 0;
}

#uvh-video-list-items .uvh-list-preloader {
	text-align: center;
}

#uvh-video-list-items .uvh-list-preloader img {
	margin: 25px 0;
}

#uvh-video-list-items .alert {
	margin: 15px;
}

.uvh-video-item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	padding: 15px 0;
}

.uvh-video-item:hover {
	background: rgb(170, 170, 170, 0.15);
}

.uvh-video-item input[type="checkbox"] + label:before,
.uvh-video-item input[type="radio"] + label:before {
	bottom: calc(50% - 0.825em);
	right: 0;
	left: auto;
	-webkit-animation: uvh-chb-pulse 1s infinite;
	animation: uvh-chb-pulse 1s infinite;
}

@-webkit-keyframes uvh-chb-pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(94, 141, 167, 0.4);
	}

	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(94, 141, 167, 0);
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(94, 141, 167, 0);
	}
}

@keyframes uvh-chb-pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(94, 141, 167, 0.4);
		box-shadow: 0 0 0 0 rgba(94, 141, 167, 0.4);
	}

	70% {
		-moz-box-shadow: 0 0 0 10px rgba(94, 141, 167, 0);
		box-shadow: 0 0 0 10px rgba(94, 141, 167, 0);
	}

	100% {
		-moz-box-shadow: 0 0 0 0 rgba(94, 141, 167, 0);
		box-shadow: 0 0 0 0 rgba(94, 141, 167, 0);
	}
}

.uvh-video-item .col-sm-11 {
	margin-right: -2px;
	padding-right: 0;
	display: flex;
	align-items: center;
}

.video-item-full-width {
	width: 100%;
	padding-right: 15px !important;
}

.uvh-video-item .col-sm-11 span {
	margin: 0 15px 0 0;
	cursor: pointer;
}

.uvh-video-item .col-sm-11 .glyphicon-pencil {
	color: orange;
}

.uvh-video-item .col-sm-11 .glyphicon-trash {
	color: red;
}

.uvh-video-item .col-sm-11 .btn {
	margin: 0 15px 0 0;
}

.uvh-video-item .col-sm-1 {
	padding-left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.uvh-video-item-acts {
	min-width: 4em;
}

.uvh-video-item-info,
.uvh-video-item-author {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.uvh-video-item-info {
	margin-right: 30px;
}

.video-item-full-width .uvh-video-item-info {
	margin-right: 0;
}

.uvh-video-item-author {
	color: grey;
	font-size: 14px;
}

.uvh-video-item-upd-wrp {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	background: #fff;
}

.uvh-video-item-upd-wrp form {
	margin: 0;
	width: calc(100% - 5em);
}

.uvh-video-item-upd-wrp form textarea {
	display: block;
}

.uvh-video-item-upd-acts {
	width: 5em;
	text-align: center;
}

.uvh-video-item-upd-acts img {
	width: 40px;
	margin: 0 auto;
}

.uvh-video-item-upd-acts .glyphicon-ok {
	color: green;
}

.uvh-video-item-upd-acts .glyphicon-remove {
	color: red;
}

.uvh-video-item-upd-acts span {
	cursor: pointer;
	margin-left: 15px;
}

.uvh-video-player-container {
	width: 100%;
	padding-top: 15px;
	display: none;
}

.uvh-ie-no-support {
	position: absolute;
	left: 0;
	top: calc(50% - 2em);
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 980px) {
	#uvh-file-upload-form {
		padding: 15px 0;
	}

	.uvh-file-upload-file,
	.uvh-file-upload-file-name {
		width: 68%;
	}

	.uvh-file-upload-file-input {
		width: 170px;
	}

	.uvh-file-upload-file-name {
		padding-left: 10px;
	}

	.uvh-video-tabs li {
		margin: 0;
		padding: 0 15px 5px 15px;
	}

}


/* Theme switcher */

.dark-theme-switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	margin-right: 2em;
}

.dark-theme-switch #dark-theme-slider {
	opacity: 0;
	width: 0;
	height: 0;
}

.dark-theme-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #eee;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.dark-theme-slider:before {
	position: absolute;
	content: "";
	height: 30px;
	width: 30px;
	left: -1px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0 0px 15px #2020203d;
	background: white url('/files/upload/tpl/night.png');
	background-repeat: no-repeat;
	background-position: center;
}

#dark-theme-slider:checked+.dark-theme-slider {
	background-color: #52abf7;
}

#dark-theme-slider:focus+.dark-theme-slider {
	/*box-shadow: 0 0 1px #52abf7;*/
}

#dark-theme-slider:checked+.dark-theme-slider:before {
	-webkit-transform: translateX(21px);
	-ms-transform: translateX(21px);
	transform: translateX(21px);
	background: white url('/files/upload/tpl/sunny.png');
	background-repeat: no-repeat;
	background-position: center;
}

.dark-theme-slider.dark-theme-slider-round {
	border-radius: 25px;
}

.dark-theme-slider.dark-theme-slider-round:before {
	border-radius: 50%;
}

@media screen and (max-width: 980px) {
	.dark-theme-switch {
		margin-right: 0;
		width: 45px;
	}
	#dark-theme-slider:checked+.dark-theme-slider:before {
		-webkit-transform: translateX(16px);
		-ms-transform: translateX(16px);
		transform: translateX(16px);
	}
}

/* End theme switcher */

/* Custom alert msgbox */

.alert-override-container {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	background: rgb(0, 0, 0, 0.85);
}

.alert-override-container .alert-override-wrp {
	width: 600px;
	height: min-content;
	max-width: 100%;
	padding: 17px;
	margin: 20px;
	border-radius: 15px;
	border: 2px solid rgba(100, 100, 100, 0.3);
	position: relative;
	background: #fff;
	white-space: pre-line;
	word-break: break-word;
	line-height: 1.3;
	box-shadow: 0 0 5px 7px rgb(0, 0, 0, 0.4);
}

.alert-override-container span {
	position: absolute;
	font-size: 18px;
	top: -17px;
	right: -17px;
	margin: 0;
	padding: 7px;
	border-radius: 50%;
	border: 1px solid rgba(160, 160, 160, 0.3);
	background: #cd2c2c;
	color: #fff;
	line-height: 1;
	cursor: pointer;
	box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.4);
}

.dark-mode .alert-override-container .alert-override-wrp {
	background: #1c1c1c;
	box-shadow: 0 0 5px 7px rgb(0, 0, 0, 0.4);
}

.dark-mode .alert-override-container span {
	box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.4);
}

/* End custom alert msgbox */
